* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}
.container-flex {
    display: flex;
}
h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}
.info-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}
.info-left, .info-right {
    flex: 1; 
    margin-right: 10px; 
}
.info-right {
    margin-right: 0; 
}
.section {
    margin-bottom: 20px; 
}
.section h2 {
    font-size: 1.1em;
    color: #111;
    margin-bottom: 5px;
}
.carga {
    margin-bottom: 20px;
}
.carga-inputs {
    display: flex; 
    justify-content: center;
    text-align: center;
}
.carga-inputs label {
    margin-right: 10px; 
    font-size: 0.9em; 
    justify-content: center;
    text-align: center;
}
input[type="text"], input[type="number"], select {
    padding: 8px; 
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 0.85em; 
    width: 100px; 
}
table {
    width: 100%; 
    border-collapse: collapse; 
    font-size: 0.85em; 
}
th, td {
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: center; 
}
th {
    background-color: #f0f0f0; 
    font-weight: bold; 
}
input[type="number"] {
    width: 70px; 
    background-color: white;
}
#cubagemTable {
    margin-top: 10px; 
}
#remetenteRua,
#destinoRua {
  width: 80%; 
  box-sizing: border-box; 
  justify-content: space-between; 
  align-items: center; 
  text-align: left; 
  background-color: white; 
}
#destinoNome{
    width: 80%;
    background-color: white;
}
#remetenteNumero,
#destinoNumero {
  width: 15%; 
  box-sizing: border-box; 
  justify-content: space-between; 
  align-items: center; 
  background-color: white; 
}
#remetenteCEP,
#destinoCEP {
  width: 20%; 
  box-sizing: border-box; 
  justify-content: space-between; 
  align-items: center; 
  background-color: white; 
}
#remetenteCidade,
#destinoCidade {
  width: 25%; 
  box-sizing: border-box; 
  justify-content: space-between; 
  align-items: center; 
  background-color: white; 
}
#remetenteEstado,
#destinoEstado {
    width: 12%;
    background-color: white;
}
#remetenteBairro,
#destinoBairro {
  width: 32.5%; 
  justify-content: space-between; 
  align-items: center; 
  background-color: white; 
}
#remetenteComplemento,
#destinoComplemento {
  width: 98%; 
  background-color: white;
}
input[type="text"], input[type="number"], select {
  padding: 10px; 
  margin: 5px 5px 10px 5px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  text-align: center; 
  font-size: 0.9em; 
}
#resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btnPagar {
    width: 85%;
    background-color: #45a049;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    float: right;
  }
#btnNovaCotacao{
    width: 85%;
    background-color: rgb(253, 60, 60);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    float: right;
}
#btnNovaCotacao:hover {
    background-color: rgb(255, 0, 0);
  }
#btnPagar:hover {
    background-color: #1caf21;
  }
  