body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4; 
}
.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    color: #333;
    background-color: #e8e8e8 !important; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; 
}
.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row-top {
    width: 100%;
    display: flex;
    gap: 20px;
}
#sectionremetente, #sectiondestino {
    width: 45%;
}
#section2 {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.remetente, .destinatario {
    flex: 1;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
}
.row-middle {
    display: flex;
    gap: 20px;
}
.horario, .carga {
    flex: 1;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 8px;
}
.carga-inputs{
    display: flex;
    text-align: center;
    gap: 10px;
}
.carga-inputs label {
    top: 50%;
    text-align: end;
}
.restantes {
    padding: 20px;               
    background-color: #e8e8e8;   
    border-radius: 8px;          
    display: flex;               
    justify-content: flex-end;   
    margin-top: 20px;           
}
.remetente h2, .destinatario h2, .horario h2, .carga h2, .restantes h2 {
    font-size: 18px;
    color: #333; 
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 0;
}
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white; 
    color: #555; 
    pointer-events: none;
}
#resultado {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
#btnPagar, #btnNovaCotacao {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
#btnPagar {
    background-color: #4CAF50; 
    color: #fff; 
}
#btnPagar:hover {
    background-color: #45a049; 
}
#btnNovaCotacao {
    background-color: red; 
    color: #fff; 
}
#btnNovaCotacao:hover {
    background-color: rgb(253, 41, 41); 
}
input, select {
    background-color: white; 
    width: 100%; 
    box-sizing: border-box; 
}
#remetenteRua,
#destinoRua {
    width: 80%; 
}
#remetenteNumero,
#destinoNumero {
    width: 14%; 
}
#remetenteCEP,
#destinoCEP {
    width: 20%; 
}
#remetenteCidade,
#destinoCidade {
    width: 25%; 
}
#remetenteEstado,
#destinoEstado {
    width: 12%;
}
#remetenteBairro,
#destinoBairro {
    width: 35%; 
}
#remetenteComplemento,
#destinoComplemento {
    width: 95%; 
}
